@page "/BrowseDoctors"

@inject HttpClient Http
@layout PatientLayout

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components


<style>
    h3 {
        text-align: center;
    }

    .doctor-table {
        width: 100%;
        border-collapse: collapse;
    }

    .doctor-table th,
    .doctor-table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }
</style>

<h3>Browse Doctors</h3>


<table class="doctor-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Specialty</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Availability</th>
            <th>Rates</th>
            <th>Accepts Insurance</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Doctors)
        {
            <tr>
                <td>@doctor.FirstName @doctor.LastName</td>
                <td>xxx</td>
                <td>xxx</td>
                @*<td><span class="rating">@for (int i = 0; i < (int)Math.Round((double)doctor.Rating); i++) { <text>⭐</text> }</span></td>*@
                <td>5</td>
                <td>xxx</td>
                <td>xxx</td>
                @*<td>@(doctor.AcceptsInsurance ? "Yes" : "No")</td>*@
                <td><button @onclick="() => SendRequest(doctor.Id)">Send Request</button></td>
            </tr>
        }
    </tbody>
</table>

