@page "/DoctorPage"
@layout DoctorLayout
@inject HttpClient Http


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*@
<h3>Welcome to Your Doctor Dashboard</h3>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Appointments</h5>
                    <p class="card-text">View and manage your upcoming appointments with patients.</p>
                    <a href="ViewAppointments" class="btn btn-primary">Go to Appointments</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">My Patients</h5>

                        @foreach (var p in MyPatients)
                        {
                            <li>
                                <a href=@("Patient/" + p.Id) target="_blank" rel="noopener noreferrer">@(p.FirstName + " " + p.LastName + " (" + p.Age + ")" )</a>
                            </li>
                        }

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Billing</h5>
                    <p class="card-text">Review and manage your billing and payment information.</p>
                    <a href="BillsDoctor" class="btn btn-primary">Go to Billing</a>
                </div>
            </div>
        </div>
    </div>
</div>