@page "/Doctor-Profile"
@layout DoctorLayout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using MediMatch.Shared
@using System.Threading

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    .form-elemenet {
        display: inline
    }
</style>
</head>



<center><h3> Doctor Profile </h3> </center>
<br />
<EditForm Model="@DoctorDto" OnValidSubmit="NewDoctorInputs"> 
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="form-element">
        <label for="DueDate"> Specialty(ies):    </label>    
        <InputText id="Specialty" @bind-Value="DoctorDto.Specialty" />
    </div>
    <br />
    <div class="form-group">
        <label for="Title">Give a brief description of your qualifications: </label>
        <InputTextArea class="form-control" id="Description" @bind-Value="DoctorDto.Description" />
    </div>
     <br />
    <div class="form-element">
        <label for="DueDate">Availability: </label> <InputText id="Availability" @bind-Value="DoctorDto.Availability" />
    </div>
 
   
    <div class="form-element">
        <label for="DueDate">Rate per month: </label> <InputNumber id="Rate" @bind-Value="DoctorDto.Rates" />
     </div>
     <br />
  <div class="form-element">
       <label for="Completed">Do you accept Insurance? If yes, check the box. </label> <InputCheckbox class="form-check-input" id="Insurance" @bind-Value="DoctorDto.AcceptsInsurance" /> 
    </div>
     <br />
    <center> <button type="submit" class="btn btn-primary">Submit</button></center>
</EditForm> 

@*class="form-control"*@