@page "/DoctorAppointments"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http
@layout DoctorLayout




<head>
	<title>Doctor Appointments</title>
</head>
<body>
	<h1>Doctor Appointments</h1>

	<form>
		<label for="name">Name:</label>
		<input type="text" id="name" name="name"><br>

		<label for="email">Email:</label>
		<input type="email" id="email" name="email"><br>

		<label for="phone">Phone:</label>
		<input type="tel" id="phone" name="phone"><br>

		<label for="date">Appointment Date:</label>
		<input type="date" id="date" name="date"><br>

		<label for="time">Appointment Time:</label>
		<input type="time" id="time" name="time"><br>

		<label for="reason">Reason for Visit:</label>
		<textarea id="reason" name="reason"></textarea><br>

		<input type="submit" value="Schedule Appointment">
	</form>

</body>





