@page "/"

<PageTitle>Index</PageTitle>

<h2><center>Welcome to Medi Match</center></h2>

<center> <h5>Where we provide tailored access to mental health specialists for all mental health needs. </h5> </center>

<!--<SurveyPrompt Title="How Do you like our app so far?" />-->