@page "/Questionnaire"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http
@layout PatientLayout

<form>
<h2>Mental Health Questionnaire</h2>

<fieldset>
<legend>Personal Information</legend>
<label for="name">Name:</label>
<input type="text" id="name" name="name">

<label for="age">Age:</label>
<input type="number" id="age" name="age">

<label for="gender">Gender:</label>
<select id="gender" name="gender">
<option value="male">Male</option>
<option value="female">Female</option>
<option value="other">Other</option>
</select>
</fieldset>

<fieldset>
<legend>Mental Health Questions</legend>

<label for="anxiety">On a scale of 1-10, how often do you feel anxious?</label>
<select id="anxiety" name="anxiety">
<option value="">Select a number</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>

<p>Have you experienced symptoms of depression in the past month?</p>
<input type="radio" id="yes" name="depression" value="yes">
<label for="yes">Yes</label>
<input type="radio" id="no" name="depression" value="no">
<label for="no">No</label>

<p>Do you have a support system to help you manage stress?</p>
<input type="checkbox" id="family" name="support" value="family">
<label for="family">Family</label>
<input type="checkbox" id="friends" name="support" value="friends">
<label for="friends">Friends</label>
<input type="checkbox" id="therapist" name="support" value="therapist">
<label for="therapist">Therapist</label>
</fieldset>

<input type="submit" value="Submit">

      
      <h2>Additional Information</h2>
      <label for="comments">Comments:</label><br>
      <textarea id="comments" name="comments" rows="4" cols="50"></textarea><br><br>
      
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
    </form>
  


@code {

}
@code {

}
