@using MediMatch.Shared
@page "/view-requests"
@inject HttpClient Http
@layout PatientLayout

<h3>View Requests</h3>

<table class="table">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Patient ID</th>
            <th>Doctor ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Requests)
        {
            <tr>
                <td>xxx</td>
                <td>@request.PatientId</td>
                <td>@request.RequestedAt</td>
                <td><button @onclick="() => AcceptRequest(request.Id)">Accept</button></td>
            </tr>
        }
    </tbody>
</table>