@using MediMatch.Shared
@page "/view-requests"
@inject HttpClient Http
@layout DoctorLayout

@*
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
*@



<h3>View Requests</h3>

<table class="table">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Requested At</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Requests)
        {
            <tr>
                <td>@request.PatientName</td>
                <td>@request.RequestedAt</td>
                <td><a href=@("Patient/" + request.PatientId) target="_blank" rel="noopener noreferrer">View Details</a></td>
                <td><button @onclick="() => AcceptRequest(request.Id)">Accept</button></td>
                 <td><button @onclick="() => RejectRequest(request.Id)">Reject</button></td>
            </tr>
        }
    </tbody>
</table>